
@font-face {
  font-family: VT323;
  src: url("/assets/VT323-Regular.ttf") format("truetype");
}

:root {
  font-family: VT323, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  overscroll-behavior: none;
}

body {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container.is-before-appear {
  opacity: 0;
}

.container.is-appear {
  animation: appear-container 0.1s linear;
}

.container.is-appear > * {
  animation: appear-item 0.1s linear;
}

@keyframes appear-container {
  from {
    transform: scaleX(0.1) scaleY(0.01);
  }
  30% {
    transform: scaleX(1) scaleY(0.01);
  }
  60% {
    transform: scaleY(0.02);
  }
  to {
    transform: none;
  }
}

@keyframes appear-item {
  from {
    transform: scaleX(5) scaleY(20);
  }
  30% {
    transform: scaleX(1) scaleY(100);
  }
  60% {
    transform: scaleY(50);
  }
  to {
    transform: none;
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

/* START */

.start-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  text-align: center;
  color: #99C46E;

  opacity: 0;
  pointer-events: none;
}

.start-screen.is-enabled {
  opacity: 1;
}

.start-screen h1 {
  font-size: 200px;
  margin: auto 0;
}

.start-screen p {
  font-size: 85px;
  margin: 0;
}

.start-screen span {
  font-size: 40px;
  margin: auto 0;
}

@media only screen and (max-width: 640px) {
  .start-screen h1 {
    font-size: 125px;
  }

  .start-screen p {
    font-size: 50px;
  }

  .start-screen span {
    font-size: 20px;
  }
}

.start-screen span a {
  color: #99C46E;
}

.start-screen.is-enabled span a {
  pointer-events: all;
}

.start-screen span a:hover {
  color: #AADD77;
}

/* UI */

.ui {
  position: absolute;
  top: 0;
  left: calc(50vw - 25vh);
  width: 50vh;
  height: 100%;

  color: #99C46E;

  opacity: 0;
  pointer-events: none;

  /* border: 8px solid rgba(153, 196, 110, 0.25);
  border-top: none;
  border-bottom: none; */
}

.ui:before, .ui:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: calc(50vw - 25vh);
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  transition: 1s ease-in-out;
  opacity: 0;
}

.ui.is-enabled:before, .ui.is-enabled:after  {
  opacity: 1;
}

.ui:before {
  left: calc(25vh - 50vw - 8px);
}

.ui:after {
  right: calc(25vh - 50vw - 8px);
}

.ui.is-enabled {
  opacity: 1;
}

.ui .score {
  position: absolute;
  font-size: 50px;
  top: 24px;
  right: 24px;
}

.ui .life {
  position: absolute;
  font-size: 4px;
  top: 24px;
  left: 24px;
  color: transparent;  
  text-shadow: 0 0 0 #AADD77;
}

.ui .heart {
  display: inline-block;
  width: 1em;
  margin: 0 28px 0 0;
  height: 1em;
  box-shadow:
  1em 0em #AADD77,
  2em 0em #AADD77,
  4em 0em #AADD77,
  5em 0em #AADD77,

  0em 1em #AADD77,
  1em 1em #AADD77,
  2em 1em #AADD77,
  3em 1em #AADD77,
  4em 1em #AADD77,
  5em 1em #AADD77,
  6em 1em #AADD77,

  0em 2em #AADD77,
  1em 2em #AADD77,
  2em 2em #AADD77,
  3em 2em #AADD77,
  4em 2em #AADD77,
  5em 2em #AADD77,
  6em 2em #AADD77,

  1em 3em #AADD77,
  2em 3em #AADD77,
  3em 3em #AADD77,
  4em 3em #AADD77,
  5em 3em #AADD77,

  2em 4em #AADD77,
  3em 4em #AADD77,
  4em 4em #AADD77,

  3em 5em #AADD77;
}

/* SCORE */


/* START */

.score-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  text-align: center;
  color: #99C46E;

  opacity: 0;
  pointer-events: none;
}

.score-screen.is-enabled {
  opacity: 1;
}

.score-screen h2 {
  font-size: 150px;
  margin: auto 0;
}

.score-screen p {
  font-size: 85px;
  margin: 0;
}

.score-screen .credits {
  font-size: 40px;
  margin: auto 0;
}

@media only screen and (max-width: 640px) {
  .score-screen h2 {
    font-size: 90px;
  }

  .score-screen p {
    font-size: 50px;
  }

  .score-screen .credits {
    font-size: 20px;
  }
}

.score-screen .credits a {
  color: #99C46E;
}

.score-screen.is-enabled .credits a {
  pointer-events: all;
}

.score-screen .credits a:hover {
  color: #AADD77;
}


/* JOYSTICK */

.joystick {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}